<div class="container-fluid">
    <div class="barra-gradiente">
        HARD & SOFT SKILLS
    </div>
  
    <div class="row" *ngFor="let skill of skillsList">
        <div class="col-3">
          <h3>{{skill.nombre}}</h3>
          <button class="botonBorrar" *ngIf="editando" style="position:relative;" (click)="borrar(skill.id)"> Borrar </button>
        </div>
        <div class="col-9">
          <div class="progress">
            <div class="progress-bar" role="progressbar" [style.width.%]="skill.porcentajeDominio"></div>
          </div>
        </div>
      </div>
  
  
    <div class="row" name="divAgregar" *ngIf="!agregando&&editando" style="border-bottom: 0;">
        <button class="botonAgregar" (click)="habilitarIngreso()">+</button>
    </div>
    <div class="row" name="divIngreso" *ngIf="agregando">
      <div class="col-3">
        <input type="text" id="nombreSkill" placeholder="Nombre de la habilidad" style="width: 100%;">
      </div>
      <div class="col-9">
        <input type="number" id="porcentaje">%
      </div>
    </div>
    <button class="botonEditar" *ngIf="agregando" (click)="agregarSkill()" style="width:100%;display:inline;">Guardar</button>
    
    
  
  </div>
